
/* image */
.garfield_01 {
    text-align: right;
    margin-right: 20%;
    
}

.garfield_02 {
    text-align: left;
    margin-left: 15%;
    
}

.garfield_03 {
    text-align: left;
    margin-left: 40%;
    
}

*, *::before, *::after {
    box-sizing: border-box;
    margin:0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}  

h2{
    z-index:10;
    text-align: center;
    margin: 2rem auto;
    font-family: 'Lobster', cursive;
    font-size: 3em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.direction{
    margin-left:auto;
}

nav a{
    padding-right: 2rem;
}

header,
a{
    background-color: rgb(100, 16, 16);
    color: white;
    text-decoration: none;
    font-size: 1.08em;
}

header a:hover{
    text-decoration: underline rgb(235, 193, 104);
    color: rgb(235, 193, 104);
}

body{
    background-color: rgb(226, 187, 97);
    color: white;
}

main{
    padding-bottom:4rem;
}
/* liste */

b{
    color: black;
}

.plats span{
    float: right;
}

.plats{
    width:80%;
    max-width: 1024px ;
    margin:auto;
}

ul {
    list-style: none;
    margin-top: 10px;
    padding-left:0;
}

li::before {
    content: "•"; 
    color: rgb(197, 28, 28);
}

li{
    font-family: sans-serif;
    margin-top: 10px;
    margin-bottom:1.5rem;
    font-size: 1.5em;
}

li p{
    margin-top:0.4rem;
}

/* bouton */

.menu{
    margin-top:5rem;
}
.btn{
    text-align:center;
    margin: 3rem;
}


.buttons{
    position:fixed;
    bottom:25px;
    right:5px;
    font-family: 'Poppins', sans-serif;
    z-index:1;
}

.bouton_contact{
    font-size: 1.3em;    
    background: linear-gradient(#bd0000, #ff7c02);
    color: white;
    border-radius: 50px;
    padding: 20px 30px;
    text-decoration: none;
}

.bouton_contact:hover{
    background: linear-gradient(#ff5f02, #f7de73);
    text-decoration: none
}

/* footer */
.contact{
    text-align: center;
}

.ouverture{
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(100, 16, 16);  
    line-height: 1.7;
    row-gap: 1rem;
    z-index:15;
    position: relative;
}
footer .contact{
    order:1;
}

footer .ouverture{
    order:3;
    border-bottom: 2px solid  rgb(235, 193, 104);
    border-top: 2px solid  rgb(235, 193, 104);
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
}

footer .partenaire{
    order:4;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:3px;
}

footer .networks{
    order:2;
}

footer .networks p{
    display: flex;
    align-items: center;
}

.networks h3{
    display: none;
}

.networks img{
    height: 55px;
    width: 55px;
}

.networks .facebook img{
    height: 70px;
    width: 70px;
}



@media all and (min-width: 1024px){
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        padding-top:1rem;
        padding-bottom:1rem;
        

    }
    
    footer .ouverture{
        order:3;
        background-color: rgb(100, 16, 16);
        width: auto;
        border-bottom: none;
        border-top: none;
    }
    footer .networks{
        column-gap: 1rem;
    }

    footer .networks h3{
        display: block;
    }
    
}